# Configuration for private npm package dependencies
# For more information on using private registries with Edge Functions, see:
# https://powerbase.club/docs/guides/functions/import-maps#importing-from-private-registries
